= form_for @todo do |f|
  -if @todo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo.errors.count, "error")} prohibited this todo from being saved:"
      %ul
        - @todo.errors.full_messages.each do |msg|
          %li= msg
    = f.hidden_field :user_id
  .field
    = f.label :todo
    = f.text_field :content
  .actions
    = f.submit 'Save'
