%h1 Listing todos

%table
  %tr
    %th Content
    %th User
    %th
    %th
    %th

  - @todos.each do |todo|
    %tr
      %td= todo.content
      %td= todo.user_id
      %td= link_to 'Show', todo
      %td= link_to 'Edit', edit_todo_path(todo)
      %td= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Todo', new_todo_path
